.site-nav, .priority, .work-list, .team, .social-network, .customers {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-priority, .work-item .work-img, .team-item .img {
  display: block;
  max-width: 100%;
  height: auto;
}

.site-nav-link {
  display: block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
}

body.modal-open {
  overflow: hidden;
}

.conteiner, .footer-conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner, .footer-conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner, .footer-conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner, .footer-conteiner {
    width: 1200px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-close-md {
  display: none;
}

.menu-button.is-open .icon-close-md {
  display: block;
}

.menu-button:hover .icon-close-md,
.menu-button:focus .icon-close-md {
  fill: #2196f3;
}

.menu-button.is-open .icon-burger {
  display: none;
}

.menu-button:hover .icon-burger,
.menu-button:focus .icon-burger {
  fill: #2196f3;
}

.menu-conteiner {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu-conteiner {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .menu-conteiner.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .menu-conteiner {
    margin-left: 85px;
  }
}

.page-header {
  position: relative;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  background-color: #ffffff;
}

.page-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

@media screen and (min-width: 768px) {
  .page-header-nav {
    min-height: 80px;
  }
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

@media screen and (max-width: 767px) {
  .main-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    margin-left: auto;
  }
}

.logo, .footer-logo {
  display: inline-block;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.logo:focus, .footer-logo:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo, .footer-logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo-primary {
  color: #000000;
}

.logo-secondary {
  color: #ffffff;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav-item {
  position: relative;
}

.site-nav-item .current {
  color: #2196f3;
}

.site-nav-item .current::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav-item + .site-nav-item {
    margin-left: 50px;
  }
}

.site-nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover, .site-nav-link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-nav-link.current {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 84px;
  }
  .auth-nav-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .auth-nav-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 305px;
  }
  .auth-nav-item + .auth-nav-item {
    margin-left: 30px;
  }
}

.auth-nav-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-link:hover, .auth-nav-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .auth-nav-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav-link {
    font-size: 14px;
    line-height: 1.15;
  }
}

.icon-mail {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .icon-mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-mail {
    width: 16px;
    height: 11.2px;
    margin-right: 10px;
  }
}

.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .icon-phone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-phone {
    width: 10px;
    height: 15px;
    margin-right: 10px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/Header-img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/Header-img.jpg");
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
  }
}

.hero-conteiner {
  max-width: 360px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .hero-conteiner {
    max-width: 630px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.submit, .join-button, .conteiner-button .button-modal {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover, .join-button:hover, .conteiner-button .button-modal:hover, .submit:focus, .join-button:focus, .conteiner-button .button-modal:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.2;
  }
}

.section-no-padding {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-no-padding {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .priority {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .priority {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.priority-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .priority-title {
    text-align: center;
  }
}

.priority-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .priority-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .priority-item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .priority-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.priority-icon-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .priority-icon-conteiner {
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1200px) {
  .priority-icon-conteiner {
    padding: 25px 100px;
  }
}

.icon-priority {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  position: relative;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work-link {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  color: #ffffff;
  background-color: rgba(35, 35, 37, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
}

.work-link:focus {
  color: #2196f3;
}

.our-team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 15px * 8) / 4);
    margin: 15px;
  }
}

.team-content {
  padding: 30px 0 24px;
}

.team-content-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-content-text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100%;
}

.social-network-item:not(:last-child) {
  margin-right: 10px;
}

.social-network-link, .social-network-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.social-network-link:hover, .social-network-footer:hover, .social-network-link:focus, .social-network-footer:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.icon-social-network {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .customers {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .customers-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .customers-item:nth-child(2n) {
    margin-right: 0;
  }
  .customers-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 15px * 6) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-item {
    width: calc((100% - 15px * 12) / 6);
    margin: 15px;
  }
}

.customers-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border, color;
  transition-property: border, color;
}

.customers-link:hover, .customers-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .customers-link {
    width: 170px;
  }
}

.icon-logo {
  fill: currentColor;
}

.customers-link:hover .icon-logo,
.customers-link:focus .icon-logo {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  width: 100%;
}

.footer-conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .flex-footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-info {
  margin-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer-info {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-info {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-info {
    margin-right: 69px;
    margin-bottom: 0;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-info-link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-info-link:focus {
  color: #2196f3;
}

.map {
  color: #ffffff;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 9px;
}

.mail-link {
  margin-bottom: 9px;
}

.join-in {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join-in {
    margin-bottom: 0;
    margin-right: 94px;
  }
}

.footer-caption {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-network-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-social-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .join {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .join-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.join-form-label {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .join-form-label {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .join-form-label {
    margin-bottom: 0;
  }
}

.join-form-input {
  padding: 15px 16px;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .join-form-input {
    width: 358px;
  }
}

.join-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
}

@media screen and (min-width: 1200px) {
  .join-button {
    margin-left: 12px;
  }
}

.icon-plane {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-button:hover .icon-plane,
.join-button:focus .icon-plane {
  -webkit-transform: translatex(70px) scale(1.2);
          transform: translatex(70px) scale(1.2);
}

@media screen and (min-width: 1200px) {
  .join-button:hover .icon-plane,
  .join-button:focus .icon-plane {
    -webkit-transform: translate(25px, -50px) scale(1.2);
            transform: translate(25px, -50px) scale(1.2);
  }
}

.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  max-width: 450px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 528px;
    width: 100%;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-close-modal {
  width: 18px;
  height: 18px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .icon-close-modal,
.close-modal:focus .icon-close-modal {
  fill: #2196f3;
}

.form {
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 28px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-input {
  padding: 12px 12px 12px 42px;
  margin: 0;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #757575;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .icon-modal {
  fill: #2196f3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  margin-bottom: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
  color: #2196f3;
  -webkit-transform: translate(-27px, -40px) scale(0.86);
          transform: translate(-27px, -40px) scale(0.86);
}

.form-input:focus,
.form-field .comment:focus {
  border-color: #2196f3;
  outline: none;
}

.textarea {
  margin-bottom: 20px;
}

.comment {
  padding: 12px 16px;
  min-height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #757575;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  position: absolute;
  top: 12px;
  left: 16px;
  margin-bottom: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within .form-comment,
.comment:not(:placeholder-shown) + .form-comment {
  color: #2196f3;
  -webkit-transform: translate(-5px, -29px) scale(0.86);
          transform: translate(-5px, -29px) scale(0.86);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-check {
  margin-right: 7px;
  width: 18px;
  height: 18px;
  /* background-image: url(../images/no-check.svg); */
  border-radius: 2px;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus-within .icon-check {
  -webkit-box-shadow: 0 0 0 2px #2196f3;
          box-shadow: 0 0 0 2px #2196f3;
}

.checkbox-input:checked + .icon-check {
  fill: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-link {
  color: #2196f3;
}

.conteiner-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteiner-button .button-modal {
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */