.site-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav-link {
  display: block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.icon-close-md {
  display: none;
}

.menu-button.is-open .icon-close-md {
  display: block;
}

.menu-button:hover .icon-close-md,
.menu-button:focus .icon-close-md {
  fill: #2196f3;
}

.menu-button.is-open .icon-burger {
  display: none;
}

.menu-button:hover .icon-burger,
.menu-button:focus .icon-burger {
  fill: #2196f3;
}

.page-header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  background-color: #ffffff;
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.logo:focus {
  color: #2196f3;
}

.logo-primary {
  color: #000000;
}

.logo-secondary {
  color: #ffffff;
}

.site-nav {
  display: none;
  margin-left: 85px;
}

.site-nav-item {
  position: relative;
}

.site-nav-item + .site-nav-item {
  margin-left: 50px;
}

.site-nav-item .current {
  color: #2196f3;
}

.site-nav-item .current::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover, .site-nav-link:focus {
  color: #2196f3;
}

.auth-nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.auth-nav-item + .auth-nav-item {
  margin-left: 30px;
}

.auth-nav-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-link:hover, .auth-nav-link:focus {
  color: #2196f3;
}

.icon-mail {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}
/*# sourceMappingURL=portfolio.css.map */