.conteiner {
  margin-left: auto;
  margin-right: auto;
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile-upper) {
    width: 480px;
  }

  @media screen and (min-width: $tablet-upper) {
    width: 768px;
  }

  @media screen and (min-width: $desctop-upper) {
    width: 1200px;
  }
}
