.dropdown-menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;

  @media screen and (min-width: $tablet-upper) {
    display: none;
  }
}

.icon-close-md {
  display: none;

  .dropdown-menu.is-open & {
    display: block;
  }

  .dropdown-menu:hover &,
  .dropdown-menu:focus & {
    fill: $accent-color;
  }
}

.icon-burger {
  .dropdown-menu.is-open & {
    display: none;
  }
  .dropdown-menu:hover &,
  .dropdown-menu:focus & {
    fill: $accent-color;
  }
}
