.main-nav {
  display: flex;
  align-items: center;
  min-height: 60px;
  // margin-left: 85px;

  @media screen and (max-width: $tablet-lower) {
    justify-content: center;
    margin-bottom: 60px;
  }
  @media screen and (max-width: $tablet-lower) {
    margin-left: auto;
  }
}
