.page-header {
  position: relative;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;

  // min-height: 80px;

  background-color: $primary-bg-color;
}

@media screen and (min-width: $tablet-upper) {
  .page-header-nav {
    display: flex;
    align-items: center;
  }
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}
