.page-header {
  position: relative;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;

  background-color: $primary-bg-color;
}

.page-header-nav {
  display: flex;
  align-items: center;
  min-height: 60px;

  @media screen and (min-width: $tablet-upper) {
    min-height: 80px;
  }
}

// @media screen and (min-width: $tablet-upper) {
//   .page-header-nav {
//     display: flex;
//     align-items: center;
//   }
// }

.header-portfolio {
  border-bottom: 1px solid #ececec;
}
