.priority {
  @extend %list;

  @media screen and (min-width: $tablet-upper) {
    display: flex;
    flex-wrap: wrap;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 10px;

    color: $secondary-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;

    @media screen and (max-width: $tablet-lower) {
      text-align: center;
    }
  }

  &-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
  }
}

.priority-item {
  &:not(:last-child) {
    @media screen and (max-width: $tablet-lower) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet-upper) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desctop-upper) {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  // @media screen and (min-width: $tablet-upper) {
  //   width: calc((100% - 4 * 15px) / 2);
  //   margin: 15px;
  // }

  // @media screen and (min-width: $desctop-upper) {
  //   width: calc((100% - 8 * 15px) / 4);
  //   margin: 15px;
  // }
}

.priority-icon-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;

  margin-bottom: 30px;
  border-radius: 4px;

  background-color: $secondary-bg-color;

  @media screen and (min-width: $desctop-upper) {
    padding: 25px 100px;
  }
}
.icon-priority {
  @extend %img;
  width: 70px;
  height: 70px;
}
