.social-network {
  @extend %list;
  display: flex;
  justify-content: center;
  // justify-content: space-between;
  min-width: 100%;

  &-item:not(:last-child) {
    margin-right: 10px;
  }
}
// .team-content

.social-network-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $primari-social-network-color;
  text-decoration: none;

  transition: $timing-function-bezier;
  transition-property: color, background-color;

  &:hover,
  &:focus {
    color: $white-text-color;
    background-color: $accent-color;
  }
}

.icon-social-network {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
