// Контейнер 3
.join {
  @media screen and (max-width: $desctop-lower) {
    text-align: center;
  }
}

.join-form {
  @media screen and (min-width: $desctop-upper) {
    display: flex;
    // justify-content: center;
  }

  &-label {
    display: block;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet-upper) {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: $desctop-upper) {
      margin-bottom: 0;
    }
  }

  &-input {
    padding: 15px 16px;
    width: 100%;

    @media screen and (min-width: $desctop-upper) {
      width: 358px;
    }

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.join-button {
  @extend .submit;
  display: inline-flex;
  align-items: center;
  padding: 10px 29px;

  @media screen and (min-width: $desctop-upper) {
    margin-left: 12px;
  }
}
.icon-plane {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $white-text-color;

  transition: transform $timing-function-bezier;

  .join-button:hover &,
  .join-button:focus & {
    transform: translatex(70px) scale(1.2);

    @media screen and (min-width: $desctop-upper) {
      transform: translate(25px, -50px) scale(1.2);
    }
  }
}
