.footer {
  background-color: #2f303a;
  width: 100%;
}

.footer-conteiner {
  @extend .conteiner;

  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-footer-tablet {
  @media screen and (min-width: $tablet-upper) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.flex-footer {
  @media screen and (min-width: $desctop-upper) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
