// Контейнер 1
.footer-info {
  margin-bottom: 60px;

  @media screen and (max-width: $desctop-lower) {
    text-align: center;
  }

  @media screen and (min-width: $tablet-upper) {
    margin-right: 165px;
  }

  @media screen and (min-width: $desctop-upper) {
    margin-right: 69px;
    margin-bottom: 0;
  }
}

.footer-logo {
  @extend .logo;
  display: block;
  margin-bottom: 20px;
}

.footer-info-link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  &:focus {
    color: $accent-color;
  }
}

.map {
  color: #ffffff;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 9px;
}

.mail-link {
  margin-bottom: 9px;
}
