$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$white-text-color: #ffffff;
$font-family: 'Roboto', sans-serif;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$primari-social-network-color: #afb1b8;
$timing-function-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
